//ШРИФТ=====================================================================

$font-family: "Tinos", serif;
$font-size: 16px;

//ПІДКЛЮЧЕНІ ШРИФТИ=====================================================================
// GOOGLE FONTS (&display=swap)=====================================================================
@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
// /GOOGLE FONTS=====================================================================

//ПІДКЛЮЧЕНІ ШРИФТИ=====================================================================

//ШРИФТ=====================================================================
//CONTAINER=====================================================================
$container-width: 1110px;
$container-padding: 15px;
//CONTAINER=====================================================================
//VARIABLES=====================================================================
$white: white;
$black: black;
$orange: #d67e34;
$brown: #bc9060;
//VARIABLES=====================================================================
